html {
  font-family: "Times New Roman", Serif
}

h1 {
  font-size: 48px;
  color: White;
  text-align: center;
}

h2 {
  font-size: 48px;
  color: White;
}

p {
  font-size: 48px;
}

body {
  background-color: MidnightBlue
}
